@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

body {
    background-color: rgba(204, 85, 85, 0.384);
    font-family: 'Roboto', sans-serif;
    font-weight: 100%;
    width: 100%;
    margin: 0px;
}



a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
div.section{
    position: absolute;
    top: 16%;
    left: 10%;
    width: 80%;
}


div.header_top{
    background-color: #F0F0E9;
    position: relative;
    top: -10px;
    width: 100%;
    height: 40px;
    border-radius: 0px 0px 10px 10px;
}

div.contact{
    position: absolute;
    bottom: auto;
}
div.contact > ul{
    columns: 2;
    font-size: 12px;
}

div.redes{
    width: 50%;
    position: absolute;
    top: 9%;
    left: 80%;
}
div.redes > div.social > ul {
    columns: 5;
    font-size: 12px;
    display: inline-block;
}



div.name{
    background-color: white;
    width: 80%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    bottom: 9px;
    height: 60px;
    font-size: 12px;
    box-shadow: 0px 0px 1px 1px black;
}
div.name > div.container > h1{
    margin: 0px;
    padding: 10px;
    text-align: center;
}



nav{
    height: 39px;
    background-color: white;
}
nav > div.nav{
    position: relative;
    bottom: 13%;
    left: 1%;
}
nav > div.nav > ul{
    padding-left: 0;
    display:inline-block;
    columns: 3;
    font-size: 15px;
}


div.search {
    position: relative;
    top: -39px;
    left: 81%;
}


main{
    position: relative;
    top: 30px;
    left: 10%;
    width: 80%;
    background-color: #FFFF;
}



/*Category*/
main > section.menu > div.container{
    background-color: gainsboro;
    width: 20%;
    border-radius: 10px 10px 10px 10px ;
}

div.pos_category > h2{
    height: 10px;
    display: inline-block;
    position: relative;
    bottom: 10px;
    left: 20%;
    width: auto;
    text-align: center;
}
div.category > div{
    margin-left: 10px;
}


div.pós_container{
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px ;
}
div.lista{
    text-size-adjust: 100%;
    display: block;
    height: auto;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}




/*Entrada*/

section.product > div.container{
    border: 1px solid black;
    position: relative;
    bottom: 335px;
    left: 229px;
    height: 300px;
    width: 20%;
}
div.photo > img{
    width: 216px;
    height: 200px;
}