@charset "UTF-8";

select.product > a{
    width: 20%;
    height: 50px;
}

div.container_product{
    width: 79%;
    position: relative;
    top: -328px;
    left: 21%;
    bottom: 0;
}

div#prodt1{
    height: 330px;
    border: 1px solid black;
    width: 30%;

}

div#prodt2{
    position: relative;
    bottom: 331px;
    left: 31%;
    height: 330px;
    border: 1px solid black;
    width: 30%;

}

div.photo{
    position: relative;
    left: 15%;
    width: 70%;
}

div.photo > img{
    width: 100%;
}