@charset "UFT-8";

*{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

body{
    background-color: aqua;
    width: 100vw;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

div.header_top{
    background-color: antiquewhite;
    width: 99.8%;
    height: 20%;
    border: 1px solid black;
    border-radius: 0px 0px 10px 10px;
}

div.header_top > div.contact > ul{
    columns: 2;
    padding: 0;
    
}

div.Menlog{
    margin: auto;
    height: 100px;
    background-color: white;
    max-width: 80%;
    position: relative;
    top: 5px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 4px 1px black;
}
div.l_2{
    position: relative;
    top: 15px;
}
div.Menlog > div.l_2 > h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    text-align: center;
}


footer{
    background-color: antiquewhite;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 40px;
    width: 99.8%;
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
}

div.rede_social{
    text-align: center;
    padding-top: 10px;
}
div.rede_social > a{
    padding: 0px 10px;
}
